.container {
  display: flex;
  flex: 1;
  height: 100%;
}

.container svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* TODO: Pick colors to match app styles */
.rootUser {
  fill: rgb(22, 130, 218);
  width: 20px;
  font-size: 10px;
  font-weight: 700;
}

.bubbleUser {
  fill: #333;
  font-size: 10px;
  font-weight: 700;
}

.node text {
  font: 12px sans-serif;
}
