.container {
  background-color: #fce1da;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.visualization {
  width: 300px;
}
